<mat-toolbar>
        <div class="logo">
            My App
        </div>
        <div class="menu">
            <ul >
                <li routerLinkActive="active">
                    <a class="nav-link" routerLink='/'>Home</a>        
                </li>
                <li routerLinkActive="active">
                    <a class="nav-link" routerLink='/product'>Product</a>        </li>
                <li routerLinkActive="active">
                    <a class="nav-link" routerLink='/contact'>Contact</a> 
                </li>
            </ul>
        </div>
    
    
   
</mat-toolbar>

