<!-- <p>contact works!</p>
<app-item [data]="data$"></app-item>
<button (click)="Toggle()">Toggle</button>
<button (click)="stop()">Toggle</button>

<h2>
    current Count : {{count$ | async}} -->
<!-- </h2> -->
<div class="roww">
    <div class="contact">
        <div class="info">
            <h2>Thanks for visit</h2>
            <ul>
                <li>
                    <span class="material-icons">room</span>
                    Hue Vietnam
                </li>
                <li>
                    <span class="material-icons">mail_outline</span>
                   
                        Email :
                        <a href="mailto:nguyentu19962710@gmail.com">nguyentu19962710@gmail.com</a>
                </li>
                <li>
                    <span class="material-icons">phone</span>
                    Phone : 0338523329
                </li>
            </ul>
        </div>
        
    <div class="sosial">
        <h2>Sosial</h2>

        <div>
        </div>
    </div>
    </div>
</div>

